.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Polaris-TextField__Backdrop {
  border-radius: 4px !important;
}

.card-option{
  margin-top: 1rem;
}
.block-option .Polaris-ShadowBevel {
  --pc-shadow-bevel-border-radius-xs: 0px !important;
}
.tag-option .Polaris-Box{
  background: #ff4c0b;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
}
.btn-add .Polaris-Button{
  background: #ff4c0b;
  --pc-button-bg_hover:#ff4c0b !important;
  --pc-button-icon-fill_hover:#fff;
  --pc-button-color:#fff;
  --pc-button-icon-fill:#fff;
  padding: 10px 0px;
  box-shadow: none;
  --pc-button-box-shadow_hover:none;
  color: #fff;
  border: none !important;
  margin-top: 1rem;
  border-radius: 4px !important;
}
.custom-select {
  border-radius: 4px;
}